:root {
    --font:'Open Sans', sans-serif;
    --font-size-form:17px;
    --primery-color:#FE724C;
    --primery-hover-color: #df6442;
    --text-color:#000000;
    --text-secondary-color: #5B5B5E;
    --seperete-color:#D4D6E0;
    --main-color:#ffffff;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--font);

}